@media(max-width:1600px) {
    .popup-gallery-contain {
        width: 420px;
        display: flex;
        position: relative;
        height: 600px;
        margin-right: auto;
        margin-bottom: 100px;
    }
}

@media(max-width:1200px) {
    .m-left_10 {
        margin-right: 0px
    }
    .form {
        margin-right: 50px;
    }
    .popup-gallery-contain {
        width: 320px;
        height: 500px;
        margin-bottom: 50px;
    }
}

@media(max-width:1020px) {
    .container {
        padding: 0 5%;
    }
    .m-horizontal_5 {
        margin-left: 0;
        margin-right: 0;
    }
    .contact-content img {
        display: none;
    }
    .slider-control {
        display: none;
    }
    .header-content {
        width: 100%;
    }
    .section {
        padding-top: 50px;
    }
    .about-us-content {
        flex-direction: column;
    }
    .about-us-content__text {
        width: 100%;
        margin-bottom: 50px;
    }
    .section__header {
        width: 100%;
        font-size: 40px;
    }
    .about-us-content__text:nth-last-child(1) {
        margin-bottom: 0px;
    }
    .services__item {
        width: 100%;
        margin-right: 0%;
        margin-bottom: 30px;
    }
    .popup-gallery-contain {
        width: 280px;
    }
    .gallery__description{
        width: 90%;
    }
}

@media(max-width:650px) {
    .popup-gallery-contain {
        width: 280px;
        margin-right: 0;
    }
    .popup-gallery-contain:nth-child(2n+2) {
        transform: translateY(0px);
    }
}

@media(max-width:600px) {
    .nav-wrap {
        display: none;
    }
    .section {
        width: auto;
    }
    .sevices-content {
        width: 320px;
    }
    .services__item {
        height: 100%;
    }
    .stages-slider-wrap__item-img {
        max-width: 100%;
    }
    .form__input {
        width: 240px;
    }
    .footer-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer {
        flex-direction: column-reverse;
        align-items: center;
    }
    .address-block {
        margin-bottom: 20px;
    }
    .footer-nav {
        margin-bottom: 20px;
    }
    .contact-content {
        margin-bottom: 20px;
        padding: 20px 5%;
    }
    .nav-toggle {
        display: block;
    }
    .header__main-caption {
        font-size: 30px;
    }
    .nav-desktop {
        justify-content: center;
    }
    .form {
        margin-right: 0;
    }
    .m-left_10 {
        margin-left: 0;
    }
    .stages-slider-wrap__item-img {
        height: 400px;
        object-fit: cover;
        object-position: center;
    }
    .gallery-wrap{
        justify-content: center;
        align-items: center;
    }
    .header-content{
        margin-top:20px
    }
    .projects__items-img{
        width: 280px;
        height: 300px;
    }
}