@media(max-width:1200px) {
    .m-left_10 {
        margin-right: 0px
    }
    .form {
        margin-right: 50px;
    }
}

@media(max-width:1020px) {
    .container {
        padding: 0 5%;
    }
    .m-horizontal_5 {
        margin-left: 0;
        margin-right: 0;
    }
    .contact-content img {
        display: none;
    }
    .slider-control {
        display: none;
    }
    .header-content {
        width: 100%;
    }
    .section {
        padding-top: 50px;
    }
    .about-us-content {
        flex-direction: column;
    }
    .about-us-content__text {
        width: 100%;
        margin-bottom: 50px;
    }
    .section__header {
        width: 100%;
        font-size: 40px;
    }
    .about-us-content__text:nth-last-child(1) {
        margin-bottom: 0px;
    }
    .services__item {
        width: 100%;
        margin-right: 0%;
        margin-bottom: 30px;
    }
}

@media(max-width:600px) {
    .nav-wrap{
        display: none;
    }
    .section {
        width: auto;
    }
    .sevices-content {
        width: 320px;
    }
    .services__item {
        height: 100%;
    }
    .stages-slider-wrap__item-img{
        max-width: 100%;
    }
    .form__input{
        width: 300px;
    }
    .footer-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer {
        flex-direction: column-reverse;
        align-items: center;
    }
    .address-block{
        margin-bottom: 20px;
    }
    .footer-nav{
        margin-bottom: 20px;
    }
    .contact-content{
        margin-bottom: 20px;
        padding: 20px 5%;
    }
    .nav-toggle{display: block;}
}